/* SessionLength Component Styles */
#break-label {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 20px;
    color: #fff;
}

#break-length {
    font-size: 30px;
    font-weight: bold;
    margin: 0 12px;
    color: #fff;
}

/* Updated Button Style for Circles with 3D Effect */


/* Add more styles as needed */