/* SessionLength Component Styles */
#session-label {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
}

#session-length {
    font-size: 30px;
    font-weight: bold;
    margin: 0 12px;
    color: #fff;
}