/* Common styles for all screen sizes */
body {
    background: linear-gradient(to left, #6286f1, #010a22);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    background-color: #061936;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;

    /* Let the content dictate the height */
}

.TimerLabel {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    color: #fff;
}

.Title {
    color: #fff;
    font-weight: bold;
    font-size: 3em;
}

.session-timer {
    margin: 0 auto;
}

button {
    background-color: #6cacef;
    color: #fff;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#start_stop,
#reset {
    background-color: #6cacef;
    color: #fff;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    width: 5em;
    height: 3.5em;
    border-radius: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #4b78a9;
    transform: scale(1.05);
}

.svg1 {
    margin-top: 10px;
}

/* Media queries for different screen sizes */
@media only screen and (min-width: 390px) and (orientation: landscape) {
    .container {
        padding: 20px;
        min-width: 340px;
        /* Adjust padding for smaller screens */
    }

    .TimerLabel {
        font-size: 1em;
        /* Responsive font size */
    }

    #start_stop,
    #reset {
        font-size: 1.5em;
        margin-left: 5px;
        margin-right: 5px;
        width: 3em;
        height: 2.5em;
    }

    button {
        font-size: 1em;
        width: 2.5em;
        height: 2.5em;
    }

    .Title {
        font-size: 2em;
        /* Responsive font size */
    }
}

/* Media queries for different screen sizes */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 100vh;
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        max-width: 100vh;
    }
}