@import '~bootstrap/dist/css/bootstrap.min.css';

/* Common styles for all screen sizes */
body {
    background: linear-gradient(to left, #6286f1, #010a22);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    background-color: #061936;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    /* Adjust as needed for medium and large screens */
    margin: 0 auto;
}

.TimerLabel {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    color: #fff;
}

.Title {
    color: #fff;
    font-weight: bold;
    font-size: 60px;
}

.session-timer {
    margin: 0 auto;
}

button {
    background-color: #6cacef;
    color: #fff;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#start_stop,
#reset {
    background-color: #6cacef;
    color: #fff;
    border: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    width: 100px;
    height: 70px;
    border-radius: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #4b78a9;
    transform: scale(1.05);
}

.svg1 {
    margin-top: 10px;
}

/* Media queries for different screen sizes */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 800px;
        /* Adjust for medium screens */
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        max-width: 1200px;
        /* Adjust for large screens */
    }
}